.bizkimiz{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    margin: 10px 90px 0 90px;
}
.image img{
    width: 100%;
    object-fit: cover;
}
h1{
    text-align: center;
}
.title p{
    margin: 20px 90px 0 90px;
}
